<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Report - UniversalManager</title>
    <link rel="stylesheet" href="/assets/styles.css">
    
    <style>
        .requiredText {
            color:red;
        }
    </style>

    <script src="/assets/lib/js/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="/assets/lib/css/sweetalert2.min.css">
</head>
<body>
    <%- include('../header'); %>

    <section class="text-gray-600 body-font relative">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Create a new Report</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">This Report can be viewed by everyone in your organization</p>
          </div>

          <form method="POST" enctype="application/x-www-form-urlencoded">
            <div class="lg:w-1/2 md:w-2/3 mx-auto">
              <div class="flex flex-wrap -m-2">
                <div class="p-2 w-1/2">
                  <div class="relative">
                    <label for="name" class="leading-7 text-sm text-gray-600">Name<label class="requiredText">*</label></label>
                    <input type="text" id="name" name="name" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                  </div>
                </div>
                <div class="p-2 w-1/2">
                  <div class="relative">
                    <label for="client" class="leading-7 text-sm text-gray-600">Client<label class="requiredText">*</label></label>
                    <input type="text" id="client" name="client" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                  </div>
                </div>

                <div class="p-2 w-full">
                  <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="submit">Create</button>
                </div>
              </div>
            </div>
          </form>

        </div>
      </section>

    <%- include('../footer'); %>
</body>
</html>